/* components/Navbar.module.css */
.nav {
    background-color: #333;
    padding: 10px;
  }
  
  .navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
  
  .navItem {
    margin: 0;
  }
  
  .navLink {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
  }
  
  .navLink:hover {
    color: #ff4500; /* Change the color on hover (you can customize) */
  }
  